.deco-none li,.deco-none{
    list-style: none;
}

li{
    margin: 10px 0;
}

.card{
    width: auto;
    padding: 10px 20px;
}

.logo-group{
    width: 100%;
    margin: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-item{
    padding-right:10px;
}

.logo-item img{
    width: 100px;
    margin-right: 100px;
}
.misa{
    width: 50px;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}

.underlined{
    text-decoration: underline;
}
.code{
padding: 2px 5px;
background-color: black;
color: chartreuse;
}

.about-me{
    margin-top: 200px;
}

.container{
    width: 950px;
    margin: auto;
}

.container-item{
    width: 100%;
    padding: 20px 40px;

}

p{
    display: inline-block;
    width: 500px;
}

.res{
    border: solid 3px darkgray;
    border-radius: 10px;
    margin-top: 50px;
    padding-bottom: 3rem;
}

.res-title{
    display: inline-block;
    position: relative;
    top : -37px;
    left: 20px;
    background-color: white;
    padding: 5px 10px;
}

.res-graph{
    display: flex;
    justify-content: space-around;
}

.graph-item{
    display: inline-block;
    max-width: 40%;
}

.res-info{
    width: 100%;
    padding: 20px;
    padding-left: 70px;
}



